<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>New Skill</title>
</head>
<body>
    <h2 class='title'>Enter New Skill</h2><hr/>
    <form action="/skills" method="POST"  autocomplete="off" class="newSkillForm">
        <label for="name">Skill </label>
        <input type="text" name="name" required>

        <label for="description">Description</label>
        <input type="text" name="description">

        <label for="level">Level </label>
        <select name="level">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <button type="submit">Add Skill</button>
    </form>
    
</body>
</html>