<!DOCTYPE html>
<html>
  <head>
    <title>Express devskills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>New devskill</h1>
    <form action="/devskills" method="POST" autocomplete="off">
      <input type="text" name="skills">
      <button type="submit">Save devskill</button>
    </form>
  </body>
</html>